# -------------------------
# ENV FILES
# -------------------------
.env
*.env

# -------------------------
# PYTHON CACHE
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# VIRTUAL ENVIRONMENT
# -------------------------
venv/
env/
onlinebankingenv/

# -------------------------
# DATABASE FILES (if any local sqlite used)
# -------------------------
*.db
*.sqlite3

# -------------------------
# LOG FILES
# -------------------------
*.log

# -------------------------
# IDE SETTINGS
# -------------------------
.vscode/
.idea/

# -------------------------
# OS FILES
# -------------------------
.DS_Store
Thumbs.db
.vercel
